<!-- include Head -->
  <%- include('./partials/head') %>

    <body id="page-top">
        <!-- include Navigation-->
        <%- include('./partials/navbar') %>

        <!-- Masthead-->
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="mx-auto my-0 text-uppercase">The best deals are here</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">You can sell and buy new or used products and finding the best deal for you</h2>
                    <a class="btn btn-primary js-scroll-trigger" href="https://documenter.getpostman.com/view/12399642/TzRNE9xB">Get Started</a>
                </div>
            </div>
        </header>

        <!-- Projects: Articles -->
        <section class="projects-section bg-light" id="articles">
          <div class="container">
              <!-- Featured Project Row-->
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Operation</th>
                      <th scope="col">Price</th>
                      <th scope="col">Tags</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Xbox One</td>
                      <td>Venta</td>
                      <td>$500</td>
                      <td>lifeStyle</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>iPhone 12</td>
                      <td>Compra</td>
                      <td>$1000</td>
                      <td>mobile, work</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Dean Electric Guitar Dimebag</td>
                      <td>Venta</td>
                      <td>$799</td>
                      <td>musical, lifeStyle</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>Ford Mustang 1966 Convertible</td>
                      <td>Venta</td>
                      <td>$105000</td>
                      <td>motor, mobility</td>
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td>Orbea Bycicle M20 2019</td>
                      <td>Compra</td>
                      <td>$3500</td>
                      <td>mobility</td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </section>
        <!-- include CDN Scripts -->
        <%- include('./partials/cdnScripts') %>

        <!-- include Footer -->
        <%- include('./partials/footer') %>
    </body>
</html>
